.about-section{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    height:100vh;
}
.about-left{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.about-left p{
    width: 80%; 
}

.about-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.about-right img{
    width: 100%;
    max-width: 980px;
    height: auto;
}
.about-service-box{
    display: flex;
    gap: 3rem;
}
.about-service-box  .box1{
    width: 230px;
    border: 1px solid rgba(0, 0, 0, 0.517);
    border-radius: 5px;
    padding: 10px;
   
}
.box1 h3{
    color: white;
    font-size: 16px;
}
.box1  p{
    color: white;
    font-size: 12px;
}


@media screen and (max-width: 768px) {
    .about-section{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    .about-right img{
        width: 100%;
        max-width: 300px;
        height: auto;
        
    }
    .about-service-box{
        max-width: 700px;
        margin: 0 auto;
        flex-direction: column;
    }
    .about-service-box  .box1{
        width: 300px;
        border: 1px solid rgba(0, 0, 0, 0.517);
        border-radius: 5px;
        padding: 10px;
        height: auto;
       
    }
}


