.herosection{
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 60px); /* Adjusted height calculation */
    /* align-items: center; */
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  
}
.hero-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.hero-right img{
    width: 380px;
    height: 302px;
}
.gray{
    color: #707070;
}
.hero-content h1{
    color: #000;
    font-weight: 400;
    font-size: 60px;
    text-align:  center;
}
.hero-content span{
    color: #000;
    font-size: 20px;
}
.hero-content p{
    color: #000;
    font-size: 14px;
   
}
.hero-btn{
    display: flex;
    width: 50%;
    gap: 30px;
    justify-content: space-between
}

.hero-btn button{
    border-radius: 4px;
    background-color: #2B2D42;
    color: white;
    border: none;
    width: 270px;
    height: 40px;
    
}